doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title SNMP Tester
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(href='/css/fontawesome.css', rel='stylesheet')
    link(href='/css/bootstrap.css', rel='stylesheet')
    link(href='/css/default/style.min.css', rel='stylesheet')
    style(type='text/css').
      body {
      padding-top: 20px;
      padding-bottom: 40px;
      }

      .sidebar-nav {
      padding: 9px 0;
      }

      th.selector {
        width: 150px
      }

      .btn-group-xs > .btn, .btn-xs {
        padding  : .25rem .4rem;
        font-size  : .875rem;
        line-height  : .5;
        border-radius : .2rem;
      }
    link(href='/css/bootstrap-responsive.css', rel='stylesheet')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
  body
    .container
      .row
        .span12
          h1 SNMP Tester

          br
          br

          form(name='snmprequest')#snmprequest
            small(style='font-weight: bold;') Agent Options
            .form-row(style='margin-top: 10px;') 
              .col-md-4.mb-3
                label(for='srvAdress') Agent Address
                input#srvAddress.form-control(type='text', placeholder='IP or URL', required='')
              .col-md-2.mb-2 
                label(for='srvPort') Port 
                input#srvPort.form-control.is-valid(type='text', placeholder='Port', value='161', required='')
            br
            small(style='font-weight: bold;') SNMP Options
            .form-row(style='margin-top: 10px;') 
              .col-md-4.mb-3
                label(for='community') Community
                input#community.form-control(type='text', placeholder='Community', required='')
              .col-md-4.mb-3
                label(for='OID') OID
                .input-group
                  input#OID.form-control(type='text', placeholder='Object Identifier', aria-describedby='inputGroupPrepend3', required='')
              .col-md-4.mb-3
                label(for='type') Method 
                select#type.custom-select
                    option(value='get') GET
                    option(value='bulkwalk') BULKWALK
            .form-row(style='margin-top: 10px;') 
              .col-md-4.mb-3
                label(for='version') Version 
                select#version.custom-select
                    option(value='1') 1
                    option(value='2c', selected='') 2c
              .col-md-8.mb-12
                label(for='options') Extra Options
                .input-group
                  input#options.form-control(type='text', placeholder='Console Options', aria-describedby='inputGroupPrepend3', required='')

            button(style='margin-top: 30px;').btn.btn-primary.float-right(type='submit', onClick='return sendSNMPRequest()') Request

    br
    br

    .container-fluid
      html
        body
          .results            
          

    .container
      hr
      footer
        p © Vitor Barth 2019
  include ../partials/scripts
